.page-template-page-faqs {
	section.footer-cta {
		padding-top:0;
		padding-bottom:0;
		.content {
			padding-top:40px;
			padding-bottom:40px;
			border-top:1px solid $dark-gray;
			border-bottom:1px solid $dark-gray;

			

			.subhead {
				margin-bottom:0;
			}
		}
	}
}