/* - - - - - - - - - - - - - - - - - - - - -

 Title : Example Custom CSS : DinoMaster!
 URL : http://wufoo.com

 Last Updated : April 1, 2011

- - - - - - - - - - - - - - - - - - - - - 

INSTRUCTIONS
1. Copy / Paste all or portions of these
CSS rules into "custom.css".

2. Experiment and play.

- - - - - - - - - - - - - - - - - - - - - */

/* - - - Default - - - */

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Logo */
#logo a {background-image:url('http://wufoo.com/images/themes/logos/shark.png'); min-height:0; height:40px}
* html #logo a {/* IE6 png Support */
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://wufoo.com/images/themes/logos/shark.png", sizingMethod="crop");
}

/* Backgrounds */
html{background-image:none;background-color:pink}
#logo{background-image:none;background-color:#669900}
#container{background:#FFFFFF}
.wufoo input.text, .wufoo textarea.textarea{background:#FFFFFF url(/images/fieldbg.gif) repeat-x top}
.wufoo .focused{background:#FFF7C0}
.wufoo .instruct{background-color:#F5F5F5}

/* Borders */
#container{border:0 solid #cccccc}
.wufoo .info{border-bottom:1px dotted #CCCCCC}
.wufoo .instruct{border:1px solid #e6e6e6}

/* Typography */
.wufoo .info h2,
.wufoo label {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-style: normal;
}

.wufoo ul li {
  background:#F2f2f2;
  width:100%;
  padding:0;
  margin-bottom:25px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.wufoo ul li.focused {
  background:#F2f2f2;
}

.wufoo ul li.date {
  width:65%;
}

.wufoo li label {
  padding-top:5px;
  padding-left:15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 1 100%;
  -moz-box-flex: 1;
  -moz-flex: 1 100%;
  -ms-flex: 1 100%;
  flex: 1 100%;
}

.wufoo li.name > span {
  width:45%;
  -webkit-flex: 1 0 45%;
  -moz-box-flex: 1;
  -moz-flex: 1 0 45%;
  -ms-flex: 1 0 45%;
  flex: 1 0 45%;
}

.wufoo li.name > span + span {
  margin-right:0;
}

.wufoo li > div,
.wufoo li fieldset,
.wufoo li fieldset legend {
  -webkit-flex: 1 100%;
  -moz-box-flex: 1;
  -moz-flex: 1 100%;
  -ms-flex: 1 100%;
  flex: 1 100%;
}

.wufoo li span {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 1 0 100%;
  -moz-box-flex: 1;
  -moz-flex: 1 0 100%;
  -ms-flex: 1 10 00%;
  flex: 1 0 100%;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}



.wufoo li span.req {
  display: inline-block;
  flex:none;
}

.wufoo li span input {
  order:2;
}

.wufoo li span label {
  order:1;
}

.wufoo li span label,
.wufoo li span input {
  width: 100%;
  -webkit-flex: 1 0 100%;
  -moz-box-flex: 1;
  -moz-flex: 1 0 100%;
  -ms-flex: 1 0 100%;
  flex: 1 0 100%;
}

.wufoo ul li input.text,
.wufoo ul li input[type="text"],
.wufoo ul li input[type="email"],
.wufoo ul li input[type="number"],
.wufoo ul li input[type="search"],
.wufoo ul li input[type="url"],
.wufoo ul li textarea.textarea,
.wufoo ul li select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0;
  width: 100%;
  -webkit-flex: 1 100%;
  -moz-box-flex: 1;
  -moz-flex: 1 100%;
  -ms-flex: 1 100%;
  flex: 1 100%;
  padding: 5px 15px 0px 15px;
  font-size: 20px;
  background: none;
  background-color: #F2F2F2;
  border: 0;
  border-bottom: 1px solid #27252A;
  position: relative;
  padding-bottom: 1px;
  background-color: transparent;
  line-height: 30px;
  border-radius: 0;
  margin: 0;
  box-shadow: none;
}

.wufoo ul li input.text:focus,
.wufoo ul li input[type="text"]:focus,
.wufoo ul li input[type="email"]:focus,
.wufoo ul li input[type="number"]:focus,
.wufoo ul li input[type="search"]:focus,
.wufoo ul li input[type="url"]:focus,
.wufoo ul li textarea:focus,
.wufoo ul li select:focus {
  outline:none;
  border-bottom:2px solid green;
  padding-bottom:0px;
}

.wufoo li fieldset {
  text-align: right;
}

.wufoo li legend.desc {
  display: block;
  width:100%;
}

.wufoo li fieldset span {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex; 
}

.wufoo li label.choice {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size:13px;
  line-height: 15px;
  padding:0;
  letter-spacing:0;
  text-transform: none;
  font-weight:normal;
  width:auto;
  order:1;
  margin-right:5px;
}
.wufoo li input[type="checkbox"] {
  margin:0;
  order:2;
  width:13px;
  padding:1px 0;
  height:13px;
  margin-right:0;
}

.wufoo .info div{font-size:95%;font-family:inherit;color:#444444}
.wufoo .section h3{font-size:110%;font-family:inherit;background:#FFFFFF;color:#000000}
.wufoo .section div{font-size:85%;font-family:inherit;color:#444444}
.wufoo label.desc, .wufoo legend.desc{font-size:95%;font-family:inherit;color:#444444}
.wufoo li div, .wufoo li div label, .wufoo li span label{font-family:inherit;color:#444444}
.wufoo input.text, .wufoo textarea.textarea, .wufoo select.select, .wufoo label.choice{font-size:100%;font-family:inherit;color:#333333}
.wufoo label.choice{color:#444444}
.wufoo .instruct{
  display: none;
}