/* normalize.css 2012-07-07T09:50 UTC - http://github.com/necolas/normalize.css */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900);
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
audio,
canvas,
video {
  display: inline-block; }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9.
 * Hide the `template` element in IE, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent; }

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong,
.strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn,
em,
.em {
  font-style: italic; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/*
 * proper formatting (http://blog.fontdeck.com/post/9037028497/hyphens)
*/
p {
  -webkit-hyphens: auto;
  -epub-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto; }

/*
 * Addresses margins set differently in IE6/7.
 */
pre {
  margin: 0; }

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

/**
 * Improve readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre-wrap; }

/**
 * Set consistent quote types.
 */
q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
q:before,
q:after {
  content: '';
  content: none; }

small, .small {
  font-size: 75%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* ==========================================================================
  Lists
========================================================================== */
/*
 * Addresses margins set differently in IE6/7.
 */
dl,
menu,
ol,
ul {
  margin: 1em 0; }

dd {
  margin: 0; }

/*
 * Addresses paddings set differently in IE6/7.
 */
menu {
  padding: 0 0 0 40px; }

ol,
ul {
  padding: 0;
  list-style-type: none; }

/*
 * Corrects list images handled incorrectly in IE7.
 */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none; }

/* ==========================================================================
  Embedded content
========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
img {
  border: 0; }

/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden; }

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 0; }

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.image-replacement,
.ir {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden; }

.clearfix, .cf {
  zoom: 1; }
  .clearfix:before, .clearfix:after, .cf:before, .cf:after {
    content: "";
    display: table; }
  .clearfix:after, .cf:after {
    clear: both; }

/*
use the best ampersand
http://simplebits.com/notebook/2008/08/14/ampersands-2/
*/
span.amp {
  font-family: Baskerville,'Goudy Old Style',Palatino,'Book Antiqua',serif !important;
  font-style: italic; }

/******************************************************************
Site Name:
Author:

Stylesheet: Variables

*/
/*
Here's a great tutorial on how to
use color variables properly:
http://sachagreif.com/sass-color-variables/
*/
/******************************************************************
Site Name:
Author:

Stylesheet: Typography

Need to import a font or set of icons for your site? Drop them in
here or just use this to establish your typographical grid. Or not.
Do whatever you want to...GOSH!

Helpful Articles:
http://trentwalton.com/2012/06/19/fluid-type/
http://ia.net/blog/responsive-typography-the-basics/
http://alistapart.com/column/responsive-typography-is-a-physical-discipline

******************************************************************/
/*********************
FONT FACE (IN YOUR FACE)
*********************/
/*  To embed your own fonts, use this syntax
  and place your fonts inside the
  library/fonts folder. For more information
  on embedding fonts, go to:
  http://www.fontsquirrel.com/
  Be sure to remove the comment brackets.
*/
/*  @font-face {
      font-family: 'Font Name';
      src: url('library/fonts/font-name.eot');
      src: url('library/fonts/font-name.eot?#iefix') format('embedded-opentype'),
             url('library/fonts/font-name.woff') format('woff'),
             url('library/fonts/font-name.ttf') format('truetype'),
             url('library/fonts/font-name.svg#font-name') format('svg');
      font-weight: normal;
      font-style: normal;
  }
*/
/*
The following is based of Typebase:
https://github.com/devinhunt/typebase.css
I've edited it a bit, but it's a nice starting point.
*/
/*
 i imported this one in the functions file so bones would look sweet.
 don't forget to remove it for your site.
*/
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, p.subhead, .button-support, blockquote cite, form label span.fakelabel,
form p.inputwrap span.fakelabel, form.wufoo ul li label, form.wpcf7-form span.wpcf7-not-valid-tip, form.wpcf7-form .wpcf7-response-output {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-style: normal; }

.helvetica, form.wpcf7-form .inner-contact-form .newsletter-area, form.wpcf7-form .inner-contact-form .newsletter-area h3 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

form input[type="text"],
form input[type="email"],
form input[type="number"],
form input[type="search"],
form textarea,
form select, form.wufoo ul li input[type="text"],
form.wufoo ul li input[type="email"],
form.wufoo ul li input[type="number"],
form.wufoo ul li input[type="search"],
form.wufoo ul li textarea,
form.wufoo ul li select {
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif; }

/*
some nice typographical defaults
more here: http://www.newnet-soft.com/blog/csstypography
*/
body {
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

p {
  -ms-word-wrap: break-word;
  word-break: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  -webkit-hyphenate-before: 2;
  -webkit-hyphenate-after: 3;
  hyphenate-lines: 3;
  -webkit-font-feature-settings: "liga", "dlig";
  -moz-font-feature-settings: "liga=1, dlig=1";
  -ms-font-feature-settings: "liga", "dlig";
  -o-font-feature-settings: "liga", "dlig";
  font-feature-settings: "liga", "dlig"; }

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
  color: #27252A;
  text-rendering: optimizelegibility; }

h1, .h1 {
  font-size: 35px;
  line-height: 1.15em; }

h2, .h2 {
  font-size: 28px;
  line-height: 42px; }

.core-point p {
  font-size: 20px;
  line-height: 1.5em;
  font-weight: 300;
  color: #76757F; }
  .core-point p:last-of-type {
    margin-bottom: 0; }

p.subhead {
  font-size: 11px;
  letter-spacing: 3px;
  line-height: 16px;
  margin-top: 18px;
  color: #76757F; }

p.subhead-alt {
  font-size: 18px;
  margin: 40px 0; }

header p.subhead {
  font-size: 13px; }
  header p.subhead:after {
    width: 40px;
    height: 1px;
    background: black;
    content: '';
    display: block;
    margin: 40px auto; }

.button-support {
  font-size: 11px; }

blockquote cite {
  font-size: 10px;
  line-height: 18px;
  letter-spacing: 2px; }
blockquote p {
  font-size: 13px;
  line-height: 24px;
  margin-top: 6px;
  margin-bottom: 0; }

.background-green h1, .background-green h2, .background-green h3, .background-green h4, .background-green h5 {
  color: #FFF; }
.background-green p {
  color: #fff; }
.background-green p.subhead {
  color: #c0ebc3; }

ul.social-media {
  list-style: none;
  margin: 0;
  padding: 0; }
  ul.social-media li {
    margin: 0;
    padding: 0;
    display: inline-block;
    overflow: hidden; }
    ul.social-media li a {
      width: 18px;
      height: 18px;
      background: #FFF;
      text-indent: -9999em;
      overflow: hidden;
      display: block; }

.footer-cta {
  padding-top: 0; }
  .footer-cta h2, .footer-cta h1, .footer-cta .h2, .footer-cta .h1 {
    margin-bottom: 10px; }
  .footer-cta .subhead {
    margin: 0;
    margin-bottom: 35px; }

.contact p {
  margin: 0; }

.how-it-works h2 {
  margin-bottom: 60px; }

@media only screen and (max-width: 600px) {
  h1, .h1 {
    font-size: 30px; }

  h2, .h2 {
    font-size: 24px;
    line-height: 35px; }

  .core-point p {
    font-size: 16px; }

  .core-point p.subhead,
  p.subhead {
    font-size: 11px !important;
    margin-top: 15px;
    font-size: inherit; }

  p.subhead-alt {
    font-size: 15px;
    margin: 30px 0;
    font-weight: 400; }

  header p.subhead {
    font-size: 12px; }
    header p.subhead:after {
      width: 30px;
      margin: 30px auto; }

  blockquote cite {
    line-height: 16px; }

  .footer-cta {
    padding-top: 0; }
    .footer-cta h2, .footer-cta h1, .footer-cta .h2, .footer-cta .h1 {
      margin-bottom: 10px; }
    .footer-cta .subhead {
      margin-bottom: 30px; }

  .how-it-works h2 {
    margin-bottom: 40px; } }
form label,
form p.inputwrap {
  background: #f2f2f2;
  width: 100%;
  display: block;
  margin-bottom: 25px; }
  form label span,
  form p.inputwrap span {
    padding: 0; }
  form label span.fakelabel,
  form p.inputwrap span.fakelabel {
    font-size: 11px;
    letter-spacing: 3px;
    display: block;
    padding: 5px 15px 0px; }
form input[type="text"],
form input[type="email"],
form input[type="number"],
form input[type="search"],
form textarea,
form select {
  -mox-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0;
  width: 100%;
  padding: 5px 15px 0px 15px;
  font-size: 20px;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #27252A;
  position: relative;
  padding-bottom: 1px;
  background-color: transparent;
  line-height: 30px;
  border-radius: 0;
  margin: 0;
  box-shadow: none; }
  form input[type="text"]:focus,
  form input[type="email"]:focus,
  form input[type="number"]:focus,
  form input[type="search"]:focus,
  form textarea:focus,
  form select:focus {
    outline: none;
    border-bottom: 2px solid #03B010;
    padding-bottom: 0; }
form input[type="text"],
form input[type="email"],
form input[type="number"],
form input[type="search"],
form select {
  box-sizing: border-box; }
form textarea {
  line-height: 35px;
  height: 210px;
  overflow: visible;
  white-space: nowrap; }
form select {
  margin-top: 5px;
  appearance: none;
  -webkit-appearance: none;
  background-image: url(../images/arrow-down.png);
  background-repeat: no-repeat;
  background-position: 95% center; }
form input[type="button"],
form input[type="submit"],
form button {
  margin-right: 0;
  float: right; }

/******************************************************************
Site Name:
Author:

Stylesheet: Sass Functions

You can do a lot of really cool things in Sass. Functions help you
make repeated actions a lot easier. They are really similar to mixins,
but can be used for so much more.

Anyway, keep them all in here so it's easier to find when you're
looking for one.

For more info on functions, go here:
http://sass-lang.com/documentation/Sass/Script/Functions.html

******************************************************************/
/*********************
COLOR FUNCTIONS
These are helpful when you're working
with shadows and such things. It's essentially
a quicker way to write RGBA.

Example:
box-shadow: 0 0 4px black(0.3);
compiles to:
box-shadow: 0 0 4px rgba(0,0,0,0.3);
*********************/
/*********************
RESPONSIVE HELPER FUNCTION
If you're creating a responsive site, then
you've probably already read
Responsive Web Design: http://www.abookapart.com/products/responsive-web-design

Here's a nice little helper function for calculating
target / context
as mentioned in that book.

Example:
width: cp(650px, 1000px);
or
width: calc-percent(650px, 1000px);
both compile to:
width: 65%;
*********************/
/******************************************************************
Site Name:
Author:

Stylesheet: Mixins Stylesheet

This is where you can take advantage of Sass' great features: Mixins.
I won't go in-depth on how they work exactly,
there are a few articles below that will help do that. What I will
tell you is that this will help speed up simple changes like
changing a color or adding CSS3 techniques gradients.

A WORD OF WARNING: It's very easy to overdo it here. Be careful and
remember less is more.

Helpful:
http://sachagreif.com/useful-sass-mixins/
http://thesassway.com/intermediate/leveraging-sass-mixins-for-cleaner-code
http://web-design-weekly.com/blog/2013/05/12/handy-sass-mixins/

******************************************************************/
/*********************
TRANSITION
*********************/
/*
I totally rewrote this to be cleaner and easier to use.
You'll need to be using Sass 3.2+ for these to work.
Thanks to @anthonyshort for the inspiration on these.
USAGE: @include transition(all 0.2s ease-in-out);
*/
/*********************
CSS3 GRADIENTS
Be careful with these since they can
really slow down your CSS. Don't overdo it.
*********************/
/* @include css-gradient(#dfdfdf,#f8f8f8); */
/*********************
BOX SIZING
*********************/
/* @include box-sizing(border-box); */
/* NOTE: value of "padding-box" is only supported in Gecko. So
probably best not to use it. I mean, were you going to anyway? */
 /******************************************************************
Site Name:
Author:

Stylesheet: Grid Stylesheet

I've seperated the grid so you can swap it out easily. It's
called at the top the style.scss stylesheet.

There are a ton of grid solutions out there. You should definitely
experiment with your own. Here are some recommendations:

http://gridsetapp.com - Love this site. Responsive Grids made easy.
http://susy.oddbird.net/ - Grids using Compass. Very elegant.
http://gridpak.com/ - Create your own responsive grid.
https://github.com/dope/lemonade - Neat lightweight grid.


The grid below is a custom built thingy I modeled a bit after
Gridset. It's VERY basic and probably shouldn't be used on
your client projects. The idea is you learn how to roll your
own grids. It's better in the long run and allows you full control
over your project's layout.

******************************************************************/
body, html {
  width: 100%;
  overflow-x: hidden; }

#content, .content {
  width: 100%;
  max-width: 1150px;
  margin: 0 auto; }

.footer-cta-clear {
  width: 100%;
  display: block;
  height: 100px; }

section,
header,
footer {
  padding-left: 20px !important;
  padding-right: 20px !important; }

.viewport-height-block {
  min-height: 85vh;
  max-height: 750px; }

.hidden {
  display: none; }

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex; }

.contents-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center; }

.full-width {
  width: 100%; }

.flex-wrap {
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.flex-1-col {
  -webkit-box-flex: 1;
  -webkit-flex: 1 100%;
  -moz-box-flex: 1;
  -moz-flex: 1 100%;
  -ms-flex: 1 100%;
  flex: 1 100%;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.flex-2-col {
  -webkit-box-flex: 1;
  -webkit-flex: 1 50%;
  -moz-box-flex: 1;
  -moz-flex: 1 50%;
  -ms-flex: 1 50%;
  flex: 1 50%;
  margin-right: 2.5vw; }
  .flex-2-col:last-of-type {
    margin-right: 0;
    margin-left: 2.5vw; }

header, .header {
  width: 100%;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row; }

header {
  padding-top: 60px; }
  header.has-testimonial {
    padding-bottom: 40px; }

header nav {
  position: absolute;
  top: 0; }

.header-navigation {
  width: 100%; }

.header-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-flex: 2;
  -webkit-flex: 2;
  -moz-box-flex: 2;
  -moz-flex: 2;
  -ms-flex: 2;
  flex: 2; }

.header-content-inner {
  margin: auto; }

.flex-stretch {
  -webkit-align-content: stretch;
  -moz-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch; }

.flex-align-self-right {
  margin-left: auto; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.padding-60 {
  padding: 60px 0; }

.wide-650 {
  width: 100%;
  max-width: 650px;
  margin-left: auto;
  margin-right: auto; }

header.background-green, footer.background-green, section.background-green, div.background-green {
  background-color: #03B010; }
header.background-white, footer.background-white, section.background-white, div.background-white {
  background-color: #fff; }
header.background-gray, footer.background-gray, section.background-gray, div.background-gray {
  background-color: #F7F7F7; }

header .wide-650 {
  -webkit-align-self: center;
  -moz-align-self: center;
  -ms-flex-item-align: center;
  align-self: center; }

.footer-cta {
  padding-top: 60px;
  padding-bottom: 60px; }

header {
  position: relative; }

footer .content {
  border-top: 1px solid #FFF; }
footer .logo {
  float: right;
  display: block; }
footer ul {
  display: block; }

.how-it-works {
  padding: 100px 0;
  border-top: 1px solid #D8D8D8; }

form.wufoo ul {
  border-top: 1px solid #868B97;
  padding: 6%;
  overflow: hidden; }
  form.wufoo ul li {
    width: 100%;
    padding: 0;
    background: #f2f2f2;
    display: block;
    margin-bottom: 25px; }
    form.wufoo ul li label {
      font-size: 11px;
      letter-spacing: 3px;
      display: block;
      padding: 5px 15px 0px; }
    form.wufoo ul li input[type="text"],
    form.wufoo ul li input[type="email"],
    form.wufoo ul li input[type="number"],
    form.wufoo ul li input[type="search"],
    form.wufoo ul li textarea,
    form.wufoo ul li select {
      -mox-appearance: none;
      -webkit-appearance: none;
      appearance: none;
      border-radius: 0;
      width: 100%;
      padding: 5px 15px 0px 15px;
      font-size: 20px;
      background: transparent;
      border: 0;
      border-bottom: 1px solid #27252A;
      position: relative;
      padding-bottom: 1px;
      background-color: transparent;
      line-height: 30px;
      border-radius: 0;
      margin: 0;
      box-shadow: none; }
      form.wufoo ul li input[type="text"]:focus,
      form.wufoo ul li input[type="email"]:focus,
      form.wufoo ul li input[type="number"]:focus,
      form.wufoo ul li input[type="search"]:focus,
      form.wufoo ul li textarea:focus,
      form.wufoo ul li select:focus {
        outline: none;
        border-bottom: 2px solid #03B010;
        padding-bottom: 0; }
    form.wufoo ul li input[type="text"],
    form.wufoo ul li input[type="email"],
    form.wufoo ul li input[type="number"],
    form.wufoo ul li input[type="search"],
    form.wufoo ul li select {
      box-sizing: border-box; }
    form.wufoo ul li textarea {
      line-height: 35px;
      height: 210px;
      overflow: visible;
      white-space: nowrap; }
    form.wufoo ul li select {
      margin-top: 5px;
      appearance: none;
      -webkit-appearance: none;
      background-image: url(../images/arrow-down.png);
      background-repeat: no-repeat;
      background-position: 95% center; }
    form.wufoo ul li input[type="button"],
    form.wufoo ul li input[type="submit"],
    form.wufoo ul li button {
      margin-right: 0;
      float: right; }

form.wpcf7-form {
  width: 100%;
  max-width: 550px;
  border: 1px solid #868B97;
  background: #fff;
  margin: 0 auto;
  overflow: visible;
  z-index: 9999;
  text-align: left; }
  form.wpcf7-form br {
    display: none !important; }
  form.wpcf7-form h2 {
    text-align: center;
    font-size: 11px;
    color: #27252A;
    padding: 0 40px;
    letter-spacing: 3px; }
  form.wpcf7-form input.wpcf7-not-valid {
    border-bottom: 1px solid red; }
  form.wpcf7-form span.wpcf7-not-valid-tip {
    background-color: red;
    color: #FFF;
    padding: 0 15px;
    font-size: 12px; }
  form.wpcf7-form .wpcf7-checkbox label {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center; }
    form.wpcf7-form .wpcf7-checkbox label input {
      margin-top: 4px;
      -webkit-box-ordinal-group: 3;
      -webkit-order: 2;
      -moz-order: 2;
      -ms-flex-order: 2;
      order: 2;
      margin-right: 0; }
    form.wpcf7-form .wpcf7-checkbox label span {
      margin-left: auto;
      -webkit-box-ordinal-group: 2;
      -webkit-order: 1;
      -moz-order: 1;
      -ms-flex-order: 1;
      order: 1; }
  form.wpcf7-form .wpcf7-response-output {
    margin: 0;
    padding: 15px;
    border: none;
    border-top: 1px solid #27252A;
    text-align: center;
    font-size: 12px;
    line-height: 16px;
    color: green; }
    form.wpcf7-form .wpcf7-response-output.wpcf7-validation-errors {
      color: red;
      border-top: 1px solid red; }
  form.wpcf7-form .inner-contact-form {
    border-top: 1px solid #868B97;
    padding: 6%;
    overflow: hidden; }
    form.wpcf7-form .inner-contact-form .newsletter-area {
      font-size: 13px;
      text-align: right;
      margin-bottom: 25px; }
      form.wpcf7-form .inner-contact-form .newsletter-area h3 {
        font-weight: 400;
        color: #27252A;
        text-transform: none;
        font-size: 13px;
        letter-spacing: 0;
        margin-bottom: 5px; }
      form.wpcf7-form .inner-contact-form .newsletter-area .wpcf7-list-item {
        display: block; }
      form.wpcf7-form .inner-contact-form .newsletter-area label,
      form.wpcf7-form .inner-contact-form .newsletter-area .inputwrap {
        background: transparent;
        padding-top: 0;
        padding-bottom: 0;
        margin-bottom: 4px; }
        form.wpcf7-form .inner-contact-form .newsletter-area label span,
        form.wpcf7-form .inner-contact-form .newsletter-area .inputwrap span {
          padding: 0; }
      form.wpcf7-form .inner-contact-form .newsletter-area input[type="checkbox"] {
        margin-left: 5px; }

@media only screen and (max-width: 700px) {
  body.page-template-page-contact section.contact {
    padding: 0; }
    body.page-template-page-contact section.contact input.wpcf7-submit {
      width: 100%; }

  form.contact-form, form.wpcf7-form {
    border-left: none;
    border-right: none; }

  .footer-cta {
    padding: 0; }
    .footer-cta form.contact-form, .footer-cta form.wpcf7-form {
      border-left: 1px solid #D8D8D8;
      border-right: 1px solid #D8D8D8; } }
