 /******************************************************************
Site Name:
Author:

Stylesheet: Button Styles

******************************************************************/

%button {
  @extend %montserrat;
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: $white;
  font-size: 12px;
  line-height: 43px;
  height: 45px;
  padding: 0 24px;
  margin-right:10px;
  margin-left:10px;
  border-radius: 0px;
  border: 1px solid #FFF;
  cursor: pointer;
  min-width: 200px;
  overflow: hidden;
  text-align: center;
  @include transition(all 0.14s ease-in-out);

  &:after {
    bottom:-1px;
    left:0;
    width:100%;
    height:4px;
    background: transparent;
    content:'';
    position: absolute;
    @include transition(all 0.14s ease-in-out);
  }

  &:hover, &:focus{
    outline: none;
    line-height:40px;
    padding-bottom:3px;
  }

  &:active {
    line-height: 43px;
    padding-bottom:1px;

    &:after {
      bottom:-1px;
      left:0;
      width:100%;
      height:2px;
      background: transparent;
      content:'';
      position: absolute;
      @include transition(all 0.14s ease-in-out);
    }
  }

  &.disabled {
    opacity:0.5;
    cursor:default;

    &:hover, &:focus{
      outline: none;
      line-height:43px;
      padding-bottom:0px;

      &:after {
        background: transparent;
      }
    }
  }
}

.button-primary {
  @extend %button;
}

.button-green-fill {
  @extend %button;
  background: $green;
  border:1px solid $green;
  color:#FFF;

  &:hover, &:focus {
    border-bottom: 1px solid darken($green, 20%);
    &:after {
      background: darken($green, 20%);
    }
  }
}

.button-white-fill {
  @extend %button;
  background: #FFF;
  color:$green;
  border:1px solid #FFF;
  &:hover, &:focus {
    border-bottom: 1px solid darken(#FFF, 20%);
    &:after {
      background: darken(#FFF, 20%);
    }
  }
}

.button-secondary {
  @extend %button;
  background:transparent;
  color:#FFF;
  border:1px solid #FFF;
  &:hover, &:focus {
    border-bottom: 1px solid darken(#FFF, 20%);
    &:after {
      background: darken(#FFF, 20%);
    }
  }
}

.button-white-outline {
  @extend %button;
  background:transparent;
  color: #FFF;
  border:1px solid #FFF;
  &:hover, &:focus {
    border-bottom: 1px solid #FFF;
    &:after {
      background: #FFF;
    }
  }
}

.button-black-outline {
  @extend %button;
  background:transparent;
  color: $black;
  border: 1px solid $black;
  &:hover, &:focus {
    border-bottom: 1px solid $black;
    &:after {
      background: $black;
    }
  }
}

.button-support {

  a, a:visited, a:hover, a:active, a:focus {
    text-decoration: underline;
    color:#fff;
    padding:10px;
  }
}

.find-out-more {
  width:100%;
  position:absolute;
  bottom:-1px;
  left:0;
  text-align: center;
  height:40px;
}

.find-out-more-button {
  @extend %button;
  color: $black;
  margin:0 auto;
  background:#FFF;
  display: inline-block;
  padding-right:50px;
  padding-left:20px;
  line-height: 40px;
  cursor:initial;
  

  &:after {
    height:100%;
    width: 95%;
    width: calc(100% - 10px);
    left:0;
    position:absolute;
    content:'';
    background-image: url(../images/arrow-down.png);
    background-repeat: no-repeat;
    background-position: right center;
  }

}

.entry-content {
   p {
      .button-black-outline,
      .button-green-fill {
        margin:0;
     }

     .button-black-outline {
        color: $black!important;
     }
   }
}


@media only screen and (max-width: 600px) { 
  .button-wrap {
    * {
      display: block;
      width:100%;
      max-width:240px;
      margin-left:auto;
      margin-right:auto;
      margin-bottom:10px;
    }
  }

  .find-out-more {
    .find-out-more-button {
      display: block;
      width:100%;
      max-width:240px;
    }
  }
}
