/******************************************************************
Site Name:
Author:

Stylesheet: FOR SHAME!

******************************************************************/

body {
	font-size: 100%;
	line-height: 1.5;
	color: $text-color;
	background-color: #FFF;
}

.wrap {
	width: 96%;
	margin: 0 auto;
}

.header {
	background-color: $black;
}

#logo {
	margin: 0.75em 0;

	a {
		color: $white;
	}
}

.background-gray {
	background:#f2f2f2;
}
.byline {
	color: $meta-gray;
	font-style: italic;
	margin: 0;
}

.entry-content {

	table {
		width: 100%;
		border: 1px solid $gray;
		margin-bottom: 1.5em;

		caption {
			margin: 0 0 7px;
			font-size: 0.75em;
			color: $meta-gray;
			text-transform: uppercase;
			letter-spacing: 1px;
		}
	}

	tr {
		border-bottom: 1px solid $gray;

		&:nth-child(even) {
			background-color: $light-gray;
		}
	}

	td {
		padding: 7px;
		border-right: 1px solid $gray;

		&:last-child {
			border-right: 0;
		}
	}

	th {
		background-color: $light-gray;
		border-bottom: 1px solid $gray;
		border-right: 1px solid $gray;

		&:last-child {
			border-right: 0;
		}
	}

	blockquote {
		margin: 0 0 1.5em 0.75em;
		padding: 0 0 0 0.75em;
		border-left: 3px solid $blue;
		font-style: italic;
		color: $meta-gray;

		&:before {}

	}

	dl {}

	dt {}

	dd {
		margin-left: 0;
		font-size: 0.9em;
		color: #787878;
		margin-bottom: 1.5em;
	}

	img {
		margin: 0 0 1.5em 0;
		max-width: 100%;
		height: auto;
	}

	.size-auto,
	.size-full,
	.size-large,
	.size-medium,
	.size-thumbnail {
		max-width: 100%;
		height: auto;
	}

	pre {
		background: $black;
		color: $light-gray;
		font-size: 0.9em;
		padding: 1.5em;
		margin: 0 0 1.5em;
		border-radius: 3px;
	}

} 

.wp-caption {
	max-width: 100%;
	background: #eee;
	padding: 5px;

	/* images inside wp-caption */
	img {
		max-width: 100%;
		margin-bottom: 0;
		width: 100%;
	}

	p.wp-caption-text {
		font-size: 0.85em;
		margin: 4px 0 7px;
		text-align: center;
	}

}


